*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {

    font-family: Arial, sans-serif;
    background: #fad7a4;
    margin: 0;
    padding: 20px;
    color: #3a3a3a;
    
}

h1 {

    text-align: center;
    margin-bottom: 20px;

}

button {

  cursor: pointer;

}

.container {

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;


}

.bloco {

    background: #ffefd9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.164);
    width: 45%;
    min-width: 300px;
}

#resultado {

    margin-top: 10px;

}

.post {

    background: #f7cfb5;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px;
    
}

.post h3 {

    margin: 0 0 8px;

}

.post button {

    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 6px 10px;
    margin-top: 20px;
    margin-right: 5px;
    transition: background 0.5s;

}

.btn-editar {

    color: black;
    background: #ffda6b;
  
}
.btn-editar:hover {

    background: #e0a800;

}

.btn-deletar {

    background: #f74e5f;
    
}
.btn-deletar:hover {

    background: #af2634;

}

#mini-form {

    display: flex;
    flex-direction: column;
    gap: 10px;

}

#mini-form input, #mini-form textarea {

    margin-top: 10px;
    padding: 8px;
    border: 2px solid #dadada;
    border-radius: 5px;

}

#mini-form button {

    background: #007bff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    transition: background 0.2s;

}

#mini-form button:hover {

    background: #0056b3;

}

#btnCarregar {

    display: block;
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 auto 20px auto;
    background: #28a745;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;

    cursor: pointer;
    transition: background 0.2s, transform 0.1s;

}

#btnCarregar:hover {

    background: #218838;
    transform: scale(1.03);

}

#conteudo {

    padding: 8px;
    border: 1px solid #dadada;
    border-radius: 5px;
    resize: none;
    font-family: inherit;
    font-size: 14px;

}
